/*Responsive Website*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
  font-family: 'EB Garamond', serif;
}

*{
  background-color: rgb(230, 214, 214);
}

.section{
  text-align: center;
  color: rgb(192, 122, 122);
  margin-top: 100px;
}

.navbar{
    text-align: left;
    display: flex;
}

/*CSS hanya diatas 768px*/
/*Desktop device*/
/*Media query*/

@media(min-width: 768px){
  .section1{
      color: rgb(85, 73, 73);
      display: flex;
  }

}