/*Responsive Website*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
  font-family: 'EB Garamond', serif;
}

*{
  background-color: rgb(230, 214, 214);
}

.section{
  text-align: center;
  color: rgb(192, 122, 122);
}
.navbar{
    display: flex;
}

.js1{
    display: flex;
    font-size: 50px;
    color: rgb(192, 122, 122);
    justify-content: center;
}

.js2{
    display: flex;
    font-size: 50px;
    color: rgb(192, 122, 122);
    justify-content: center;
}

.btnjs{
    display: flex;
    justify-content: center;
}


/*CSS hanya diatas 768px*/
/*Desktop device*/
/*Media query*/

@media(min-width: 768px){
  .sectiontop{
      color: rgb(85, 73, 73);
  }
}