/*Responsive Website*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
  font-family: 'EB Garamond', serif;
}

*{
  background-color: rgb(230, 214, 214);
}

.section1{
  text-align: center;
  color: rgb(192, 122, 122);
  margin-top: 100px;
}

.tabel, th, td{
  color: rgb(78, 75, 94);
  border : 5px solid #C9A199;
  font-size: 40px;
}

.nama{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin-top: 80px;
}

.mhs{
  text-align: center;
  color: rgb(127, 114, 148);
  font-weight: bold;
  font-size: 35px;
  margin-top: 80px;
}

.prodi{
  text-align: center;
  color: rgb(97, 103, 146);
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 80px;
}

.quote{
  text-align: center;
  color: rgb(224, 131, 116);
  font-weight: bold;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section2{
  display: flex;
  justify-content: center;
}

.linkmedsos{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 30px;
}

.riwayat-pendidikan{
  display: flex;
  color: rgb(91, 85, 92);
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 80px;
}

.motivasi{
  display: flex;
  color: rgb(114, 82, 65);
  justify-content: center;
  font-size: 35px;
  margin-top: 80px;
}

.IsiMotivasi{
  display: flex;
  color: rgb(88, 79, 58);
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
}

.organisasi{
  display: flex;
  justify-content: center;
  color: rgb(88, 29, 23);
  font-size: 40px;
  margin-top: 80px;
}

.ImgOrganisasi{
  display: flex;
  justify-content: center;
}

.skill{
  display: flex;
  justify-content: center;
  color: rgb(169, 64, 7);
  font-size: 40px;
  margin-top: 80px;
}

.ImgSkill{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn{
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 100px;
}

.js{
  text-align: center;
  color: rgb(170, 151, 162);
  font-weight: bold;
  font-size: 50px;
}

.btnjs{
  text-align: center;
  color: rgb(116, 97, 108);
  font-weight: bold;
  font-size: 40px;
}


/*CSS hanya diatas 768px*/
/*Desktop device*/
/*Media query*/

@media(min-width: 768px){
  .section1{
      color: rgb(85, 73, 73);
  }

  .section2{
      display: flex;
      justify-content: start;
  }

}